body {
    margin-top: 0;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
}
#hebergements1 {
    background-color:#f2f2f2;
    border: 1px solid white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    margin-right: 23px;
    flex: 60%;
}
#hebergements h2 {
    font-size: 100%;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 3%;
}
#hebergements1 h4 {
    margin-top: 0px;
    font-size: 100%;
    margin-left: 3%;
    margin-bottom: 2%;
}
#hebergements p {
    font-size: 80%;
}
a {
    color: inherit;
    text-decoration: none;
}
.margetxt1 {
    margin-left: 5%;
}
.marginprix {
    margin: 3% 0px 9px 3%;
}
.fas[data-active="true"] {
    color: #0065FC;
}
.fas[data-active="false"] {
    color: #d9d9d9;
}
.marginstar {
    margin-left: 3%;
    margin-bottom: 3%;
    display: flex;
}
.view {
    margin-top: 20px;
}
.viewmore {
    color: black;
    text-decoration: none;
    margin-left: 3%;
}
.marseille1 {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 2%;
    margin-left: 2%;
    flex: 28%;
    box-shadow: 0 0 16px #0000002e;
}
#flexheber {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.imgmarseille {
    width: 96%;
    height: 105px;
    padding: 2%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
#populaires {
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid white;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
    flex: 30%;
    row-gap: 2rem;
}
#populaires figure {
    margin: 0;
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
#populaires h2 {
    font-size: 100%;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 3%;
}
#populaires P {
    font-size: 80%;
    margin: 8px 0px 25px 6px;
}
.populaires1 {
    display: flex;
    flex-wrap: nowrap;
    flex: 88% 0 0;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 6%;
    margin-left: 6%;
    box-shadow: 0 0 16px #0000002e;
    height: 115px;
    padding: 1%;
}
.imgpopulaires {
    width: 100%;
    height: 113px;
    object-fit: cover;
    margin-right: 2%;
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#flexchart {
    display: flex;
    justify-content: space-between;
    width: 91%;
    align-items: center;
    margin-right: 5%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 3%;
}
#flexpop {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}
.activitee1 {
    list-style-type: none;
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
#flexact {
    display: flex;
    justify-content: space-evenly;
}
#activity {
    margin-right: 1%;
}
#flexact > div {
    flex: 24% 0 0;
}
.vertical img {
    height: 90%;
}
.cadre {
    box-shadow: 0px 0px 16px #f2f2f2;
    border-radius: 20px;
}
.cadre2 {
    box-shadow: 0px 0px 16px #f2f2f2;
    margin-bottom: 5%;
}
.imgactivitees {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.imgactivitees2 {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.margina {
    margin-bottom: 10px;
    margin-top: 12px;
}
.marginleft {
    margin-left: 15px;
}