/* Hébergements à marseille */

#hebergements {
    display: flex;
    flex-wrap: wrap;
}
#hebergements h2 {
    font-size: 100%;
    margin-bottom: 20px;
}
#hebergements1 {
    background-color:#f2f2f2;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;
    margin-right: 23px;
    flex: 67%;
}
#hebergements1 h4 {
    margin-top: 0px;
    font-size: 100%;
    margin-left: 3%;
    margin-bottom: 2%;
}
#hebergements p {
    font-size: 80%;
}
#flexheber {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
.marseille1 {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    flex: 28%;
    box-shadow: 0 0 16px #0000002e;
}
.imgmarseille {
    width: 96%;
    height: 105px;
    padding: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
.marginprix {
    margin: 9px 0px 9px 9px;
}
.marginstar {
    margin-left: 10px;
    margin-bottom: 9px;
    display: flex;
}
.fas[data-active="true"] {
    color: #0065FC;
}
.fas[data-active="false"] {
    color: #d9d9d9;
}
.view {
    margin-top: 20px;
}
.viewmore {
    color: black;
    text-decoration: none;
    margin-left: 9px;
    margin-top: 20px;
}

/* Hébergement populaires  */

#populaires {
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    border: 1px solid white;
    padding: 5px;
    border-radius: 20px;
    flex: 25%;
    row-gap: 20px;
}
#populaires h2 {
    font-size: 100%;
    margin-left: 9px;
    margin-bottom: 20px;
}
#populaires P {
    font-size: 80%;
    margin: 8px 0px 47px 10px;
}
#flexchart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 33px;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-top: 6px;
}
#flexpop {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
}
#flexpop > article > a {
    display: flex;
    flex: 20% 0 0;
}
.populaires1 {
    flex-wrap: nowrap;
    flex: 84% 0 0;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    height: 131px;
    padding: 5px;
}
.marginleft > h4 {
    MARGIN-TOP: 5PX;
    MARGIN-LEFT: 10PX;
    MARGIN-BOTTOM: 0;
}
.imgpopulaires {
    width: 100%;
    height: 93%;
    object-fit: cover;
    margin-right: 6px;
    border: 1px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#populaires figure {
    margin: 0;
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
.marginleft {
    margin-left: 15px;
}

/* Activity */

#activity {
    margin-right: 1%;
}
#flexact {
    display: flex;
    justify-content: space-between;
}
#flexact > a {
    display: flex;
    flex: 20% 0 0;
}
.activitee1 {
    list-style-type: none;
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.activitee2 {
    height: 97%;
    list-style-type: none;
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.vertical img {
    height: 90%;
}
.small {
    margin-right: 20px;
    flex: 15%;
}
.big {
    margin-right: 20px;
    flex: 15%;
}
.cadre {
    box-shadow: 0px 0px 16px #f2f2f2;
    border-radius: 20px;
}
.cadre2 {
    box-shadow: 0px 0px 16px #f2f2f2;
    margin-bottom: 20px;
}
.imgactivitees {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.imgactivitees2 {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.margina {
    margin-bottom: 10px;
    margin-top: 12px;
}
a {
    color: inherit;
    text-decoration: none;
}