@media (max-width: 992px) {
    #flexfiltres {
        flex-wrap: wrap;
    }
    .grey {
        text-align: center;
    }
    .marginb {
        text-align: center;
    }
    #filtres  {
        padding-left: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filtres1  {
        margin-bottom: 15px;
    }
    .width  {
        margin-left: 148px;
    }
    #flexfiltres p  {
        margin-left: 49px;
    }
    #hebergements1  {
        flex: 100%;
    }
    #flexpop  {
        justify-content: center;
        row-gap: 0px;
    }
    #flexchart  {
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .border  {
        margin-left: 49px;
        width: 110%;
    }
    .borderloca  {
        padding-right: 15px;
        padding-left: 15px;
    }
    #populaires  {
        background-color: inherit;
        padding: 0px;
    }
    .populaires1  {
        margin-bottom: 25px;
        flex: 80% 0 0;
        margin-left: 0px;
        margin-right: 0px;
    }
    #flexact  {
        flex-wrap: wrap;
    }
    #flexact > div  {
        flex: 47% 0 0;
        margin-bottom: 20px;
    }
    #activity > h3  {
        margin-left: 15px;
    }
    .mob {
        flex-direction: row-reverse;
    }
    .vertical img {
        height: 90%;
    }

}