@media (max-width: 992px) {

/* nav - filtres */

    .marginb {
        text-align: center;
    }
    .grey {
        text-align: center;
    }
    .flex {
        justify-content: center;
    }
    .border  {
        display: flex;
        width: auto;
    }
    .borderloca  {
        padding-right: 15px;
        padding-left: 15px;
    }
    #flexfiltres {
        flex-wrap: wrap;
    }
    #filtres  {
        padding-left: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tel {
        padding: 0px;
        margin-right: 19%;
    }
    .filtres1 {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 23px;
    }
    .filtres2 {
        margin-bottom: 17px;
    }
    #flexfiltres p  {
        margin-left: 49px;
    }

/* hébergements */

    #hebergements1  {
        flex: 100%;
    }
/* populaires */

    #populaires  {
        background-color: inherit;
        padding: 0px;
    }
    #flexchart  {
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #flexpop  {
        justify-content: center;
        row-gap: 0px;
    }
    .populaires1  {
        margin-bottom: 25px;
        flex: 80% 0 0;
        margin-left: 0px;
        margin-right: 0px;
    }

/* activity */

    #activity > h3  {
        margin-left: 15px;
    }
    #flexact  {
        flex-wrap: wrap;
    }
    #flexact > div  {
        flex: 47% 0 0;
        margin-bottom: 20px;
    }
    .vertical img {
        height: 90%;
    }
    .marginf > h4  {
        width: max-content;
    }

/* footer */

    #footer {
        justify-content: space-around;
    }
    .footer1 {
        margin-right: 0px;
    }
    .footer1 > ul {
        padding: 0px;
    }
}