@media (max-width: 767px) {

/* nav - filtres */
    
    .margin {
    margin-left: 0;
    margin-right: 0;
    }
    .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    }
    .nav {
        font-size: 14px;
        padding: 0px;
        justify-content: center;
    }
    .nav2 {
        font-size: 14px;
        padding: 0px;
        margin-right: 15px;
        justify-content: flex-end;
    }
    .paddinglogo {
        padding-top: 3px;
        margin-left: 12px;
    }
    .header2 {
        margin-right: 0px;
    }
    .order2:hover, .order3:hover {
        border-top: 0px solid #0065FC;
        border-bottom: 2px solid #0065FC;
    }
    .header2 a:hover {
        border-top: 0px solid #0065FC;
    }
    .link {
        margin-right: 0px;
        padding-bottom: 20px;
    }
    .linkblack {
        margin-right: 0px;
        padding-bottom: 20px;
    }
    .link2 {
        padding-bottom: 20px;
        margin-right: 0px;
        padding-top: 18px;
        margin-left: 15px;
    }
    .flexlink {
        display: contents;
    }
    .order {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .order1 {
        order: 1;
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .order2 {
        order: 2;
        border-bottom: 2px solid #f2f2f2;
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .order3 {
        order: 3;
        border-bottom: 2px solid #f2f2f2;
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .marginb {
        text-align: start;
    }
    .grey {
        text-align: start;
    }
    .flex {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .flexnav {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .border {
        margin-left: 0px;
    }
    .borderloca {
        width: 8%;
        padding: 15px;
        padding-right: 17px;
        padding-left: 17px;
    }
    #filtres {
        justify-content: flex-start;
    }
    .tel {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .filtres1 {
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .marginr {
        margin-right: 0px;
        margin-left: 0px;
    }
    .filtres2 {
        margin-bottom: 17px;
    }
    #flexfiltres p {
        margin-left: 0px;
    }
    .info {
        margin-left: 0px;
    }
    .fontsizeinfo {
        text-align: start;
        width: 85%;
    }

/* hébergements */

    #hebergements {
        display: flex;
    }
    #hebergements h2 {
        margin-bottom: 10px;
    }
    #hebergements1 {
        background-color: inherit;
        order: 2;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .marseille1 {
        flex: 47%;
        margin: 6px;
    }
    .view {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .viewmore {
        margin-top: 0px;
    }

/* populaire */

    #populaires {
        background-color: #f2f2f2;
        margin-bottom: 10px;
        border-radius: inherit;
    }
    #flexchart {
        justify-content: space-between;
    }
    .populaires1 {
        flex: 92% 0 0;
    }
    #flexpop {
        margin-bottom: 20px;
    }

/* activity */

    #activity {
        order: 3;
    }
    #flexact > div {
        flex: 94% 0 0;
        margin-bottom: 20px;
    }
    #flexact > .vertical {
        flex: 88% 0 0;
        margin-bottom: 20px;
    }
    .vertical img {
        height: 83%;
    }
    .cadre2 {
        width: 100%;
        margin-left: 6px;
    }
    .cadre {
        width: 100%;
        margin-left: 6px;
    }

/* footer */

    #footer {
        flex-direction: column;
        margin-top: 25px;
        border-radius: 0 0 0 0;
    }
    .footer1 {
        margin-left: 20px;
    }
}