@media (max-width: 767px) {
    
/* nav - filtres */
    
    .nav {
        font-size: 14px;
        padding: 0px;
    }
    .linkblack {
        margin-right: 0px;
    }
    .link {
        margin-right: 0px;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 2;
    }
    .marginb {
        text-align: start;
    }
    .grey {
        text-align: start;
    }
    .border {
        margin-left: 0px;
    }
    .borderloca {
        width: 8%;
        padding: 15px;
        padding-right: 17px;
        padding-left: 17px;
    }
    #filtres {
        justify-content: flex-start;
    }
    .filtres1 {
        margin-right: 0px;
    }
    .marginr {
        margin-right: 34px;
    }
    #flexfiltres p {
        margin-left: 0px;
    }
    .info {
        margin-left: 0px;
    }
    .fontsizeinfo {
        text-align: start;
        width: 85%;
    }

/* hébergements */

    #hebergements {
        display: flex;
    }
    #hebergements h2 {
        margin-bottom: 10px;
    }
    #hebergements1 {
        background-color: inherit;
        order: 2;
        padding: 0px;
    }
    .marseille1 {
        flex: 46%;
        margin: 6px;
    }
    .view {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .viewmore {
        margin-top: 0px;
    }

/* populaire */

    #populaires {
        background-color: #f2f2f2;
        margin-bottom: 10px;
        border-radius: inherit;
    }
    #flexchart {
        justify-content: space-between;
    }
    #flexpop {
        margin-bottom: 20px;
    }

/* activity */

    #activity {
        order: 3;
    }
    #flexact {
        justify-content: inherit;
    }
    #flexact > div {
        flex: 88% 0 0;
        margin-bottom: 20px;
    }
    #flexact > .vertical {
        flex: 88% 0 0;
        margin-bottom: 20px;
    }
    .vertical img {
        height: 83%;
    }
    .cadre2 {
        width: 100%;
    }
    .cadre {
        width: 100%;
    }

/* footer */

    #footer {
        flex-direction: column;
        margin-top: 25px;
        border-radius: 0 0 0 0;
    }
    .footer1 {
        margin-left: 20px;
    }
}